.shopify-fill {
    object-fit: contain;
}
.opt-list {
    margin-right: 10px;
    text-decoration: underline;
}
.preview-wrap {
    width: 100%;
    height: 50px;
    position: relative;
}

.action {
    cursor: pointer;
}

.disable {
    opacity: 0.5;
}

.MuiPaper-elevation8 {
    max-height: 250px!important;
}

a {
    color: initial;
    text-decoration: none;
}

.onScroll {
    background-color: #fff;
    height: 60px;
    padding: 20px;
    border-radius: 5px;
}
.onScroll .MuiButtonBase-root {
    min-height: 0;
    padding: 0;
    line-height: 0; 
}
.onScroll .MuiTabs-indicator {
    bottom: 15px;
}